<!-- Article that triggers the toggle -->
<article class="tile" onclick="toggleExnessAccount()">
    <div class="tile-header">
        
        <h3>
            <p>Buy $10</p>
            <i class="fa-solid fa-sack-dollar"></i>
        </h3>
            <p>Get $50 to trade, pay-back $55 T&C applied</p>
    </div>
    <em>
        <p>Pay back after 7 months</p>
    </em>
</article>



<article class="tile" onclick="toggleExnessAccount()">
    <div class="tile-header">
        
        <h3>
            <p>Buy $20</p>
            <i class="fa-solid fa-sack-dollar"></i>
        </h3>
            <p>Get $100 to trade, pay-back $105 T&C applied</p>
    </div>
    <em>
        <p>Pay back after 7 months</p>
    </em>
</article>


<article class="tile" onclick="toggleExnessAccount()">
    <div class="tile-header">
        
        <h3>
            <p>Buy $30</p>
            <i class="fa-solid fa-sack-dollar"></i>
        </h3>
            <p>Get $150 to trade, pay-back $160 T&C applied</p>
    </div>
    <em>
        <p>Pay back after 7 months</p>
    </em>
</article>


<article class="tile" onclick="toggleExnessAccount()">
    <div class="tile-header">
        
        <h3>
            <p>Buy $40</p>
            <i class="fa-solid fa-sack-dollar"></i>
        </h3>
            <p>Get $200 to trade, pay-back $210 T&C applied</p>
    </div>
    <em>
        <p>Pay back after 7 months</p>
    </em>
</article>


<article class="tile" onclick="toggleExnessAccount()">
    <div class="tile-header">
        
        <h3>
            <p>Buy $50</p>
            <i class="fa-solid fa-sack-dollar"></i>
        </h3>
            <p>Get $250 to trade, pay-back $265 T&C applied</p>
    </div>
    <em>
        <p>Pay back after 7 months</p>
    </em>
</article>


<article class="tile" onclick="toggleExnessAccount()">
    <div class="tile-header">
        
        <h3>
            <p>Buy $60</p>
            <i class="fa-solid fa-sack-dollar"></i>
        </h3>
            <p>Get $300 to trade, pay-back $315 T&C applied</p>
    </div>
    <em>
        <p>Pay back after 7 months</p>
    </em>
</article>


<article class="tile" onclick="toggleExnessAccount()">
    <div class="tile-header">
        
        <h3>
            <p>Buy $100</p>
            <i class="fa-solid fa-sack-dollar"></i>
        </h3>
            <p>Get $1000 to trade, pay-back $1030 T&C applied</p>
    </div>
    <em>
        <p>Pay back after 7 months</p>
    </em>
</article>


<article class="tile" onclick="toggleExnessAccount()">
    <div class="tile-header">
        
        <h3>
            <p>Buy $500</p>
            <i class="fa-solid fa-sack-dollar"></i>
        </h3>
            <p>Get $5000 to trade, pay-back $5050 T&C applied</p>
    </div>
    <em>
        <p>Pay back after 7 months</p>
    </em>
</article>


<article class="tile" onclick="toggleExnessAccount()">
    <div class="tile-header">
        
        <h3>
            <p>Buy $700</p>
            <i class="fa-solid fa-sack-dollar"></i>
        </h3>
            <p>Get $7000 to trade, pay-back $7090 T&C applied</p>
    </div>
    <em>
        <p>Pay back after 7 months</p>
    </em>
</article>


<article class="tile" onclick="toggleExnessAccount()">
    <div class="tile-header">
        
        <h3>
            <p>Buy $1000</p>
            <i class="fa-solid fa-sack-dollar"></i>
        </h3>
            <p>Get $10000 to trade, pay-back $10150 T&C applied</p>
    </div>
    <em>
        <p>Pay back after 7 months</p>
    </em>
</article>











<%- include('toggle-info') %>

