<!-- Article that triggers the toggle -->
<article class="tile" onclick="toggleExnessAccount()">
    <div class="tile-header">
        
        <h3>
            <p>Buy $10</p>
            <i class="fa-solid fa-sack-dollar"></i>
        </h3>
            <p>Get $50 to trade, pay-back $55 T&C applied</p>
    </div>
    <em>
        <p>Pay back after 7 months</p>
    </em>
</article>



<article class="tile" onclick="toggleExnessAccount()">
    <div class="tile-header">
        
        <h3>
            <p>Buy $10</p>
            <i class="fa-solid fa-sack-dollar"></i>
        </h3>
            <p>Get $50 to trade, pay-back $55 T&C applied</p>
    </div>
    <em>
        <p>Pay back after 7 months</p>
    </em>
</article>


<article class="tile" onclick="toggleExnessAccount()">
    <div class="tile-header">
        
        <h3>
            <p>Buy $10</p>
            <i class="fa-solid fa-sack-dollar"></i>
        </h3>
            <p>Get $50 to trade, pay-back $55 T&C applied</p>
    </div>
    <em>
        <p>Pay back after 7 months</p>
    </em>
</article>


<article class="tile" onclick="toggleExnessAccount()">
    <div class="tile-header">
        
        <h3>
            <p>Buy $10</p>
            <i class="fa-solid fa-sack-dollar"></i>
        </h3>
            <p>Get $50 to trade, pay-back $55 T&C applied</p>
    </div>
    <em>
        <p>Pay back after 7 months</p>
    </em>
</article>


<article class="tile" onclick="toggleExnessAccount()">
    <div class="tile-header">
        
        <h3>
            <p>Buy $10</p>
            <i class="fa-solid fa-sack-dollar"></i>
        </h3>
            <p>Get $50 to trade, pay-back $55 T&C applied</p>
    </div>
    <em>
        <p>Pay back after 7 months</p>
    </em>
</article>


<article class="tile" onclick="toggleExnessAccount()">
    <div class="tile-header">
        
        <h3>
            <p>Buy $10</p>
            <i class="fa-solid fa-sack-dollar"></i>
        </h3>
            <p>Get $50 to trade, pay-back $55 T&C applied</p>
    </div>
    <em>
        <p>Pay back after 7 months</p>
    </em>
</article>


<article class="tile" onclick="toggleExnessAccount()">
    <div class="tile-header">
        
        <h3>
            <p>Buy $10</p>
            <i class="fa-solid fa-sack-dollar"></i>
        </h3>
            <p>Get $50 to trade, pay-back $55 T&C applied</p>
    </div>
    <em>
        <p>Pay back after 7 months</p>
    </em>
</article>


<article class="tile" onclick="toggleExnessAccount()">
    <div class="tile-header">
        
        <h3>
            <p>Buy $10</p>
            <i class="fa-solid fa-sack-dollar"></i>
        </h3>
            <p>Get $50 to trade, pay-back $55 T&C applied</p>
    </div>
    <em>
        <p>Pay back after 7 months</p>
    </em>
</article>


<article class="tile" onclick="toggleExnessAccount()">
    <div class="tile-header">
        
        <h3>
            <p>Buy $10</p>
            <i class="fa-solid fa-sack-dollar"></i>
        </h3>
            <p>Get $50 to trade, pay-back $55 T&C applied</p>
    </div>
    <em>
        <p>Pay back after 7 months</p>
    </em>
</article>


<article class="tile" onclick="toggleExnessAccount()">
    <div class="tile-header">
        
        <h3>
            <p>Buy $10</p>
            <i class="fa-solid fa-sack-dollar"></i>
        </h3>
            <p>Get $50 to trade, pay-back $55 T&C applied</p>
    </div>
    <em>
        <p>Pay back after 7 months</p>
    </em>
</article>











<%- include('toggle-info') %>

