<div class="payment" onclick="handlePaymentClick()">
    <div class="card green">
        <span>Buy $100</span>
        <span>
            •••• Get 1,000
        </span>
    </div>
    <div class="payment-details">
        <h3>Buy ($100) get ...</h3>
        <div>
            <span>$ 1,000</span>
        </div>
    </div>
</div>


<%- include('toggle-info') %>

    
    
    