    <section class="service-section">

        <h2>Services 2 Buy</h2>


        <div class="tiles">
            <%- include('$10') %>



        </div>
        
        <div class="service-section-footer">
            <p>Services are paid according to the current state of the currency and tariff.</p>
        </div>
    </section>

