<div class="app-body-navigation">
    <nav class="navigation">
        <a href="/dashboard">
            <i class="fa-solid fa-house"></i>
            <span>Dashboard</span>
        </a>
        <a href="#">
            <i class="fa-solid fa-comments-dollar"></i>
            <span>Transfers</span>
        </a>
        <a href="/exchange">
            <i class="fa-solid fa-rotate"></i>
            <span>Exchange</span>
        </a>
        <a href="#">
            <i class="fa-solid fa-circle-info"></i>
            <span>How to use</span>
        </a>
        <a href="/login">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <span>Logout</span>
        </a>
    </nav>

    
    <footer class="footer">
        <h1>Prop X<small>©</small></h1>
        <div>
            Prop X ©<br />
            All Rights Reserved 2021
        </div>
    </footer>
</div>