<section class="special-offer1">

    <h2>Free Offers for New users</h2>


    <div class="special-offers">
        <%- include('free-offers') %>



    </div>
    
    <div class="service-section-footer">
        <p>All payments are sent to users exness account in less than 24hours</p>
    </div>
</section>

