<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prop x</title>
    <link rel="icon" href="/images/fav.png" type="image/x-icon">
    <link rel='stylesheet'href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,400&amp;display=swap'>
    <link rel="stylesheet" href="/css/exchange.css">
</head>

<body>


    <div class="extra-cards-stack">
        <div class="card-1"></div>
        <div class="card-2"></div>
        <div class="card-3"></div>
        <div class="card-4"></div>
        <div class="card-5"></div>
        <div class="card-6"></div>
    </div>
    <div class="container">
        <div class="card-stack">
            <div class="balance">
                <p>Balance:</p>
                <span>$ <span id="balance-counter">3021</span></span>
            </div>
            <div class="swiper-container">
                <div class="slide slide-1">
                    <div class="bank-name">
                        <p> monobank | <span>Universal Bank</span></p>
                        <img src="https://img.icons8.com/bubbles/50/000000/visa.png" />
                    </div>
                    <img src="https://img.icons8.com/bubbles/50/000000/sim-card-chip.png" />
                    <div class="card-number">4505 7389 6378 5628</div>
                    <div class="personal-info">
                        <p>Visnu Ravichandran</p>
                        <p>07/2023</p>
                    </div>
                </div>
                <div class="slide slide-2">
                    <div class="bank-name">
                        <p> monobank | <span>Town Bank</span></p>
                        <img src="https://img.icons8.com/color/48/000000/mastercard.png" />
                    </div>
                    <img src="https://img.icons8.com/nolan/50/sim-card-chip.png" />
                    <div class="card-number">4729 7837 9829 7828</div>
                    <div class="personal-info">
                        <p>Visnu Ravichandran</p>
                        <p>02/2022</p>
                    </div>
                </div>
                <div class="slide slide-3">
                    <div class="bank-name">
                        <p> monobank | <span>Gold Card</span></p>
                        <img src="https://img.icons8.com/bubbles/50/000000/visa.png" />
                    </div>
                    <img src="https://img.icons8.com/bubbles/50/000000/sim-card-chip.png" />
                    <div class="card-number">4183 9737 1283 0837</div>
                    <div class="personal-info">
                        <p>Visnu Ravichandran</p>
                        <p>05/2025</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/gsap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src="/js/exchange.js"></script>
</body>

</html>