<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prop x</title>
    <link rel="icon" href="/images/fav.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <div class="container">
        <img src="/images/fav.png" alt="logo">

    <div class="form-container">
        <h2>Sign Up Prop X</h2>
        <form action="/sign-up" method="POST">
            <input type="text" name="username" placeholder="Username" required />
            <input type="email" name="email" placeholder="Email" required />
            <input type="text" name="firstName" placeholder="First Name" required />
            <input type="text" name="lastName" placeholder="Last Name" required />
            <input type="password" name="password" placeholder="Password" required />
            <button type="submit">Sign Up</button>
        </form>

        <div class="warning-containe" style="text-align: center; margin: 20px;">
            <img src="/uoloads/Tradinggif GIF – Tradinggif – Ищите GIF-файлы и обменивайтесь ими.gif" alt="Warning GIF" style="max-width: 600px; height: auto;"class="gf">
        </div>

        <p>Already have an account? <a href="/login">Login here</a></p>
    </div>
    </div>
 
</body>
</html>
