/* exness.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    border-bottom: 1px solid rgb(183, 182, 182);
}

.logo{
    font-size: 2.1rem;
    font-weight: 500;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: auto;
    margin-top: 2rem;
    width: 30%;
}

h1 {
    margin-bottom: 20px;
    color: #232222;
    font-size: 28px;
    margin-bottom: 2rem;
}
h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 17px;
    font-weight: 500;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 13px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
}

input[type="text"],
input[type="password"] {
    padding: 11px 10px;
    margin-bottom: 35px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
}

button {
    padding: 11px;
    background-color: #ffcc00ce;
    color: #333;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e6b800;
}

p {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

a {
    color: #0073b1;
    text-decoration: none;
    font-size: 15px;
}

a:hover {
    text-decoration: underline;
}

.div-or{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .54rem;
    margin:0 0 1rem 0;
}

.div-or samp{
    font-size: 12px;
    font-family: Arial;
    color: #000;
}

.div-or span{
    width: 39%;
    height: 0.80px;
    background-color: #c0c0c0;
}


/* Loading spinner styles */
.spinner {
    border: 4px solid #f3f3f3; /* Light gray */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    display: none; /* Initially hidden */
    margin: 10px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Message container for success */
.message {
    display: none;
    color: green;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.google-signin{
    background-color: rgba(108, 133, 149, 0.12);
    padding: .74rem;
    display: flex;
    justify-content: center;
    gap: .4rem;
}

.login-container p{
    text-align: center;
}

.footer{
    display: flex;
    gap: 10rem;
    width: 80%;
    margin: 2.5rem auto;
}

.footer-text{
    width: 65%;
}

.footer-text p{
    color: #949393;
    font-size: .80rem;
}

.footer .links{
    display: flex;
    flex-direction: column;
    gap: .7rem;
    margin-top: 1rem;
}

.footer .links a{
    text-decoration: underline;
    font-size: 15px;
    margin:  0 10px;
}

.footer .links p{
    margin: 10px;
}


@media (max-width: 800px) {
    .login-container {
        /* background: white; */
        padding: 0px 10px;
        border-radius: 8px;
        width: 100%;
    }

    .div-or span{
        width: 34%;
        height: 0.80px;
        background-color: #c0c0c0;
    }
    
    .footer{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        margin: 2.5rem auto;
    }

    .footer-text{
        width: 95%;
        margin: 10px;
    }
}
 
