* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    background: #2B2D2F;
    width: 100%;
    height: 100%;
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.fav {
    width: 100%;
    /* height: 100%; */
    /* border: 1px solid #858484; */
}


.form-container {
    position: absolute;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.form-container h2{
  color: #ccc;
}


form {
    width: 100%;
    padding: 0 10px;

}

h1 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #858484;
    background: #2B2D2F;
    font-size: 16px;
    color: #ccc;
}


button {
    border: 1px solid #858484;
    background: #2B2D2F;
    color: white;
    padding: 12px;
    cursor: pointer;
    width: 50%;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.gf {
    width: 100%;
    border: 1px solid #858484;
}

p {
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
}

a {
    color: #858484;
}


/* Floating button styling */
.whatsapp-btn {
    position: fixed;
    bottom: 50px;
    background-color: #3A3B3C;
    right: 25px;
    color: #fff;
    border-radius: 50%;
    padding: 15px;
    font-size: 20px;
    box-shadow: 0 0px 10px rgba(210, 209, 209, 0.441);
    cursor: pointer;
    transition: background-color 0.3s ease;
}